body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: "Open Sans", sans-serif;
}
.title {
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.container {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container_block {
  padding: 3%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1 1 0px;
}

.block {
  height: 190px;
  width: 190px;
  background-image: linear-gradient(to right, #6ae097, #6dc9f3);
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.block:hover {
  background: linear-gradient(145deg, #57be7f, #62b6dd 100%);
}

.text {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-img:hover {
  transform: scale(1.1);
}