* {
    box-sizing: border-box;
    
}
body {
    background: rgb(30, 60, 117);
    background-color: rgb(30, 60, 117);
    margin: 0;
    padding: 3em 1em;
    
}
.bg{
    size: 100%;
    background: rgb(30, 60, 117); ;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
   /* background:  white;*/
}
figure {
    margin: 0;
}
figcaption {
    font-style: italic;
    font-size: 0.9em;
    color: rgb(75, 72, 72);
    line-height: 1.4;
    text-align: center;
}
.grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90%;
    grid-gap: 1em;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 2em 1em;
    background: white;
}
@media all and (min-width: 600px) {
    .grid {
        grid-auto-flow: initial;
        grid-template-columns: repeat(auto-fit, minmax(auto, 20em));
        justify-content: center;
   }
}
.grid__figure {
    display: grid;
    grid-template-rows: 15em 1fr;
    grid-gap: 1em;
    transition: .5s ease-in-out;
}
.grid__figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid__figure:hover{
    filter: brightness(80%);
}
body h1{
    top:-20%;
    font-style: italic;
    font-size: 4rem;
    color: rgb(238, 241, 245);
    text-align: center;
}

.navbar{
    width: 85%;
    height: 50%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items:center;/*center*/
    justify-content: space-between;
}
.logo{
    width: 200px;
    position:fixed;
    top: 0;
    left: 0;
    cursor:context-menu;/*pointer*/
    align-items:flex-start;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    left: 300px;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(238, 241, 245);
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width:0;
    background: rgb(148, 217, 245);
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}